html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
	position: relative;
	overflow-wrap: normal;
	overflow-x : hidden;
	overflow-y : auto;
}
html {
  visibility: hidden;

}
html.wf-active {
  visibility: visible;
}
img
	border-radius: 5px
#canvas
  width 100%
  height 100%

#body
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	margin auto
	margin-top 20px
	font-family: heisei-maru-gothic-std, sans-serif;
	font-weight: 400;
	font-style: normal;

.wrapper {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
	transform: rotate(0.0001deg);
	background: linear-gradient(124deg, #FF907F, #E27171, #E2C671, #E1E271, #71E284, #71DDE2, #7771E2, #E377EF, #E679F2);
	background-size: 1000vw 1000vw;
  animation: rainbow 25s ease infinite;}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media screen and (max-width: 1200px){
	#main-slide{
		height 50vw
	}
	#sub-slide{
		max-height 16vw
	}
}
@media screen and (min-width: 1200px){
	#main-slide{
		max-height 630px
	}
	#sub-slide{
		max-height 200px
	}
}
