html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
	position: relative;
	overflow-wrap: normal;
	overflow-x : hidden;
	overflow-y : auto;
}
html {
  visibility: hidden;
}
html.wf-active {
  visibility: visible;
}
.slick-slide {
  position: relative;
}
.slick-slide .caption {
  transform: rotate(0.0001deg);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 25%
  padding 5px 10px
  background: rgba(#222 .75);
  color: #eee;
  opacity: 0;
  transition: .3s ease;
	font-family: omnes-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
  font-size 1.2em
  border-radius: 15px 0px 15px 0px
  min-width: 200px
  text-align center
}
.slick-current .caption {
  opacity: 1;
  transition-delay: .75s;
}
.slider-for
  transform: rotate(0.0001deg);
  border-radius: 15px
  & img
    border solid 2px #222
    border-radius: 15px

#canvas
  width 100%
  height 100%

#body
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	margin auto
	margin-top 5px
	font-family: heisei-maru-gothic-std, sans-serif;
	font-weight: 400;
	font-style: normal;

.wrapper {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
	transform: rotate(0.0001deg);
	background: linear-gradient(124deg, #FF907F, #E27171, #E2C671, #E1E271, #71E284, #71DDE2, #7771E2, #E377EF, #E679F2);
	background-size: 1000vw 1000vw;
  animation: rainbow 25s ease infinite;}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media screen and (max-width: 1200px){
	#main-slide{
		height 50vw
	}
	#sub-slide{
		max-height 16vw
	}
}
@media screen and (min-width: 1200px){
	#main-slide{
		max-height 700px
	}
	#sub-slide{
		max-height 250px
	}
}
#main
	border-radius: 15px
	padding 35px 20px 0px 20px
  margin-bottom 20px
	background-color: rgba(#ddd, 0.2)

.shadow-material
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

.left-side
	position: relative;
	white-space: nowrap;
	& .left-text
		letter-spacing: 0.05em
		font-family: omnes-pro, sans-serif;
		font-weight: 800;
		font-style: normal;
		font-size 6em
		top 400px
		right -410px
		position: absolute;
		transform rotate(-90deg)
		-webkit-text-stroke: 2px #fff;
		text-stroke: 2px #fff;
		color: rgba(#fff, 0.1)
		transition-timing-function:ease-in-out;
		transition-duration:0.2s;
		&:hover
			letter-spacing: 0.1em
.left-side .left-text-sp
  font-family: omnes-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5em;
  color white
  text-shadow: 0px 0px 7.5px rgba(black, .3)
.right-side
	position: relative;
	white-space: nowrap
	& .right-text
		letter-spacing: 0.05em
		font-family: omnes-pro, sans-serif;
		font-weight: 800;
		font-style: normal;
		font-size 6em
		top 160px
		left -175px
		position: absolute;
		transform rotate(90deg)
		-webkit-text-stroke: 2px #fff;
		text-stroke: 2px #fff;
		color: rgba(#fff, 0.1)
		transition-timing-function:ease-in-out;
		transition-duration:0.2s;
		&:hover
			letter-spacing: 0.15em
