nav.navbar.navbar-expand-lg.mb-3.pb-lg-3.sticky-top
  a.navbar-brand.d-lg-none(href="#") PONPOKO24 vol.4
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.ml-4: a.nav-link(href="#Part1") 第一部
      li.nav-item.ml-4: a.nav-link(href="#Part2") 第二部
      li.nav-item.ml-4: a.nav-link(href="#Part3") 第三部
      li.nav-item.ml-4: a.nav-link(href="#Part4") 裏配信
      //-li.nav-item.ml-4: a.nav-link(href="#1") ぽこあーと
