doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet" type="text/css" href="css/style.css")

body
  input(type="radio" name="name" checked="checked")
  div.cp_item: div.inner First Tab
  input(type="radio" name="name")
  div.cp_item: div.inner Second Tab
  input(type="radio" name="name")
  div.cp_item: div.inner Third Tab
  input(type="radio" name="name")
  div.cp_item: div.inner Force Tab
