head
  include _head
  
body.wrapper
  canvas#canvas
  section#body
    - 
      var twitter_link = [
        'https://twitter.com/oozorasubaru',
        'https://twitter.com/nekokan_chu',
        'https://twitter.com/norioo_'
      ]
    - 
      var info = [
        {
          time: '20:00-21:00',
          title: 'すくすくめぐちゃん',
          thumbnail: '1',
          desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
          desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
          desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
          share_text: 'すくすくめぐちゃんは5月5日の20時から放送！',
          guest: [1, 2, 3, 1, 2, 3],
        },
        {
          time: '21:00-22:00',
          title: 'バーチャル・バチェラー',
          thumbnail: '2',
          desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
          desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
          desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
          guest: [1, 2, 3, 1, 2, 3],
        },
        {
          time: '22:00-23:00',
          title: 'ぽこピー批評 ～beyond～',
          thumbnail: '3',
          desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
          desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
          desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
          guest: [1, 2, 3, 1, 2, 3],
        },
        {
          time: '20:00-21:00',
          title: 'すくすくめぐちゃん',
          thumbnail: '1',
          desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
          desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
          desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
          share_text: 'すくすくめぐちゃんは5月5日の20時から放送！',
          guest: [1, 2, 3, 1, 2, 3],
        },
        {
          time: '21:00-22:00',
          title: 'バーチャル・バチェラー',
          thumbnail: '2',
          desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
          desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
          desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
          guest: [1, 2, 3, 1, 2, 3],
        },
        {
          time: '22:00-23:00',
          title: 'ぽこピー批評 ～beyond～',
          thumbnail: '3',
          desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
          desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
          desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
          guest: [1, 2, 3, 1, 2, 3],
        },
      ]
    div.container-fluid
      div.row
        // --------Left--------
        div.col-2.left-side.d-none.d-lg-block
          div.container-fluid.sticky-top: a(href="#")
            div.row
              div.col
                div.left-text PONPOKO24 vol.4
          
        // --------Main content--------
        div.col-12.col-lg-8.shadow-material#main
          div.container-fluid.mt-2

            // --------navbar--------
            include _navbar

            // --------Main Slider--------
            include _slider            

            // --------Time table--------
            include _timetable
        
        // --------Right--------
        div.col-2.right-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.right-text PARTY!!

  // --------Load js--------
  script(type="text/javascript" src="/js/jquery.touchSwipe.min.js")
  script(type="text/javascript" src="/js/fade.js")
  script(type="text/javascript" src="/js/background.js")
