doctype html
head
  include _head
  
body.wrapper
  canvas#canvas
  section#body
    - 
      var twitter_link = [
        "https://twitter.com/ARuKo_OKaRa",
        "https://twitter.com/GYARI_",
        "https://twitter.com/mzm_kosaka",
        "https://twitter.com/vd_inuko",
        "https://twitter.com/sakuramiko35",
        "https://twitter.com/JoeRikiichi",
        "https://twitter.com/ZulmIhP1nlMOT5y",
        "https://twitter.com/HiguchiKaede",
        "https://twitter.com/Haneru_Inaba",
        "https://twitter.com/usadapekora",
        "https://twitter.com/megu_shinonome",
        "https://twitter.com/mochi8hiyoko",
        "https://twitter.com/ame_watage",
        "https://twitter.com/kiryucoco",
        "https://twitter.com/norioo_",
        "https://twitter.com/OtogibaraEra",
        "https://twitter.com/KaguraMea_VoV",
        "https://twitter.com/oozorasubaru",
        "https://twitter.com/norioo_",
        "https://twitter.com/amanopikamee",
        "https://twitter.com/Nekomiya_Hinata",
        "https://twitter.com/mishiro_seiso",
        "https://twitter.com/maimoto_k",
        "https://twitter.com/nekokan_chu",
        "https://twitter.com/sana_natori",
        "https://twitter.com/udukikohh",
        "https://twitter.com/choueki_tarou",
        "https://twitter.com/midori_2434",
        "https://twitter.com/dekakinb",
        "https://twitter.com/fuji_aoi_0618",
        "https://twitter.com/Ange_Katrina_",
        "https://twitter.com/tenkaitukasa",
        "https://twitter.com/KitakamiFutaba",
        "https://twitter.com/SIROyoutuber",
        "https://twitter.com/Gatchman666",
        "https://twitter.com/teikoupenguin",
        "https://twitter.com/omesis_ray",
        "https://twitter.com/omesis_rio",
        "https://twitter.com/az_yukimi",
        "https://twitter.com/As_me_V",
        "https://twitter.com/Shito_ANON",
        "https://twitter.com/kurumi_pgm",
        "https://twitter.com/Hijirime_Laeria",
        "https://twitter.com/OganamomeVtuber",
        "https://twitter.com/rokudou_mei",
        "https://twitter.com/yuika_siina",
        "https://twitter.com/PinkyPopHepburn",
        "https://twitter.com/fairyschan",
        "https://twitter.com/g9v9g_mirei",
        "https://twitter.com/asanoruri",
        "https://twitter.com/Yuuhi_Riri",
      ]
    - 
      var info = [
        {
          time: '20:00-21:00',
          title: 'オープニング',
          thumbnail: '100',
          desc_ja: '4回目の開催となったぽんぽこ24。今回のテーマはParty!<br>30名を超えるゲストが一堂に会し、24時間ノンストップで生放送！　一緒にパーティを盛り上げよう！！',
          desc_us: "It was the 4th time Ponpoko 24 was held, and the theme of this time was Party! Over 30 guests met in one place, and it was a 24-hour non-stop live broadcast!　Let's get the party going together!",
          desc_cn: '这已经是庞博科24日举办的第四届了，这次的主题是Party! 30多位嘉宾齐聚一堂，24小时不间断直播!　让我们一起来狂欢吧!',
          guest: [47],
        },
        {
          time: '21:00-22:00',
          title: '電脳少女シロ王',
          thumbnail: '20',
          desc_ja: 'シロちゃんを一番理解しているのは誰？もちろんシロちゃん本人は自分のことを一番わかってるはず……！？<br>シロ本人、同期のピーナッツくんと後輩の北上双葉がバトル！<br>お互いのプライドを賭けた大一番！',
          desc_us: "Who understands Shiro the most? Shiro, of course, knows herself best! Shiro, her colleague Peanuts-kun, and her junior Futaba Kitakami battle! It's a big game of mutual pride!",
          desc_cn: '谁最了解小白？当然是最了解自己的小白! 小白和她的同事花生君，还有她的小弟北上双叶的战斗! 这是个大场面，是双方的骄傲!',
          guest: [34, 33],
        },
        {
          time: '22:00-23:00',
          title: 'コンビ愛選手権',
          thumbnail: '102',
          desc_ja: '大好きな相方のことなら私が一番知っている！　より強固なコンビ力が試される、コンビ愛選手権開催！　答えを合わせて二人の絆を証明だ！',
          desc_us: "I know my favorite partner best!　We held a championship to test the strength of a stronger combination!　Let's put the answers together and prove the bonds between the two of you!",
          desc_cn: '我最了解我最喜欢的伙伴!　我们举行了一场冠军赛，考验更强的组合实力!　让我们把答案放在一起，证明你们两个人之间的羁绊!',
          guest: [21, 4, 10, 5, 46, 7],
        },
        {
          time: '23:00-00:00',
          title: '汚い声でたら即退場',
          thumbnail: '1',
          desc_ja: '"Vtuber界の清楚" を代表する容姿端麗な4名がぽんぽこ24に集結。<br>開始直後に退場の危険を秘めたスリルを楽しみながら、最期の瞬間を見届けよう。',
          desc_us: "Four beautiful people who represent the clean and clean appearance of the Vtuber scene are gathered in Ponpoko24. Watch the final moments as you enjoy the thrill of being in danger of exiting immediately after starting.",
          desc_cn: '四位代表着Vtuber场上清一色的美女们齐聚Ponpoko24。看着最后的时刻，享受着开机后立即退场的快感。',
          guest: [17, 8, 16],
        },
        {
          time: '00:00-01:00',
          title: '大喜利代理戦争',
          thumbnail: '2',
          desc_ja: 'ファンとしての力が試される視聴者参加型企画。あなたの秀逸な回答が、推しを優勝へと導くかもしれない。<br>専用ハッシュタグをつけてツイートしよう！<br>ジョー力一：<a href="https://twitter.com/search?q=%23%E3%82%8A%E3%81%8D%E3%81%84%E3%83%81%E3%83%BC%E3%83%A0&src=typed_query">#りきいチーム</a><br>大空スバル：<a href="https://twitter.com/hashtag/%E5%A4%A7%E7%A9%BA%E3%82%A2%E3%83%92%E3%83%AB%E3%81%AE%E4%BC%9A?src=hashtag_click">#大空アヒルの会</a><br>名取さな：<a href="https://twitter.com/hashtag/%E7%88%86%E7%AC%91%E5%90%8D%E5%8F%96%E8%BB%8D?src=hashtag_click">#爆笑名取軍</a><br>ピーナッツくん：<a href="https://twitter.com/hashtag/%E3%81%8A%E3%81%A8%E3%82%82%E3%83%8A%E3%83%83%E3%83%84%E8%BB%8D?src=hashtag_click">#おともナッツ軍</a>',
          desc_us: "This is an audience participation type project that will prove your power as a fan. Your brilliant answer might just lead your favorite Vtuber to a win. Tweet about it with a dedicated hashtag!",
          desc_cn: '这是一个观众参与型的项目，将证明你作为粉丝的力量。你的精彩回答可能会让你最喜欢的Vtuber赢得比赛。用专门的hashtag发推特吧!',
          guest: [18, 6, 25],
        },
        {
          time: '01:00-02:00',
          title: 'バーチャルホストクラブ',
          thumbnail: '13',
          desc_ja: 'Vtuber界の"パリピ"達が新人ホストになっておもてなし。<br>まだ経験も少ない3人だが、初仕事でお客様を満足させることはできるのか……！？',
          desc_us: "The party people of the Vtuber became the new hosts and entertained. They still have little experience, but will they be able to satisfy the customers on their first job?",
          desc_cn: 'Vtuber的派对人成为了新的主持人和娱乐。虽然他们的经验还不多，但他们的第一份工作就能让顾客满意吗？',
          guest: [26, 3, 50, 49, 48],
        },
        {
          time: '02:00-03:00',
          title: '緑仙に企画を丸投げしてみた',
          thumbnail: '3',
          desc_ja: '緑仙に企画立案そのものを丸投げしてしまうという、全く予想ができない企画。<br>数多の企画を経験してきた緑仙が繰り出す、渾身の一手は……？',
          desc_us: "This is a completely unpredictable project, in which the planning itself is thrown to Ryushen. What is the move that Ryushen, who has experienced many projects, can do with all his might...?",
          desc_cn: '这是一个完全无法预料的项目，在这个项目中，策划本身就被抛给了緑仙。经历过很多项目的緑仙，会使出什么样的招数，让緑仙全力以赴...........？',
          guest: [28, 51, 99],
        },  
        {
          time: '03:00-04:30',
          title: 'ぽこピー批評 ～beyond～',
          thumbnail: '4',
          desc_ja: 'Vtuber界に起きた出来事を振り返るぽこピー批評が、～beyond～の名を冠して再登場！<br>Vtuberを追えなかった人、最近Vtuberを知った人も、ぽこピーと一緒に歴史を振り返ろう！',
          desc_us: "The PokoPea critique, which looks back on what happened in the Vtuber world, is back under the name of ~beyond~!　Whether you haven't been following Vtuber or have recently discovered Vtuber, take a look back at history with PokoPea!",
          desc_cn: '回顾Vtuber世界里发生的事情的 "PokoPea点评"，又以~beyond~的名义回来了!　无论你是没有关注过Vtuber，还是最近才发现Vtuber，都可以和PokoPea一起回顾一下历史!',
          guest: [99, 99],
        },
        {
          time: '04:30-05:00',
          title: '逆凸(とつ)',
          thumbnail: '21',
          desc_ja: 'ぽこピーからVtuberへ逆凸！ぽんぽこが気になっているあのVtuberも登場するかも……？',
          desc_us: "Surprise interview from PokoPea to Vtuber! The Vtuber that Ponpoko is interested in might also make an appearance...?",
          desc_cn: 'PokoPea到Vtuber的惊喜采访! Ponpoko看中的Vtuber可能也会出现...?',
          guest: [99, 99, 99],
        },
        {
          time: '05:00-06:00',
          title: '凸(とつ)',
          thumbnail: '6',
          desc_ja: 'ぽんぽこ24お馴染み、凸待ちの時間！<br>想像を超えた超超個性的なVtuberの登場によって、Vtuberの世界が更に広がること間違いなし。<br><a class="mr-3" href="https://twitter.com/tensitya">天死ちゃん</a><a class="mr-3" href="https://twitter.com/tsumiko_channel">人生つみこ</a><br class="d-lg-none"><a class="mr-3" href="https://twitter.com/tmgnrei">紡音れい</a><a class="mr-3" href="https://twitter.com/xxxcreme7">七草くりむ</a><br><a class="mr-3" href="https://twitter.com/Amatsuka_Lilyel">天使リリエル</a><a class="mr-3" href="https://twitter.com/hakuno_imasaka">今酒ハクノ</a><br class="d-lg-none"><a class="mr-3" href="https://twitter.com/nene_nezumi">鏑矢ねね</a><a class="mr-3" href="https://twitter.com/musubimeyui">結目ユイ</a><br><a class="mr-3" href="https://twitter.com/nbuna_staff">n-buna(ナブナ)</a>',
          desc_us: "It's time to participate in the live broadcast as we know it on PONPOKO 24! The world of Vtuber is sure to expand even further with the appearance of Vtuber's who are super unique and beyond imagination.",
          desc_cn: '是时候参加我们所知道的PONPOKO24的直播了! 相信随着超乎想象的Vtuber们的出现，Vtuber的世界一定会进一步扩大。',
          guest: [],
        },
        {
          time: '07:00-07:30',
          title: 'あさぽこ',
          thumbnail: '17',
          desc_ja: 'おーはようございますみなさん！　朝から元気にあさココ出張版！<br>ハイテンポなニュースで気持ちよく目を覚まそう！　気になる報道内容は……？',
          desc_us: "Good morning, everyone!　AsaKoko Special Edition! High-tempo news to wake you up in a good mood!　I'm curious about the news coverage!",
          desc_cn: '大家早上好!　AsaKoko特别版! 高节奏的新闻，让你的心情好起来!　我很好奇新闻的报道!',
          guest: [14],
        },
        {
          time: '07:30-08:00',
          title: 'すくすくめぐちゃん',
          thumbnail: '7',
          desc_ja: 'めぐちゃんと一緒にすくすく成長！　はぴふりで心も体もリフレッシュ！<br>怖いほど当たるというチャンチョの星座占いfeat.東雲めぐであなたの運勢をチェック！',
          desc_us: "Growing up with Megu!　Refresh your mind and body with Hapifuri! Check out your fortune with the astrological horoscope of Chancho and Megu, which is said to be scarily accurate!",
          desc_cn: '与美固一起成长!　与Hapifuri一起提神醒脑、养心养性! 用Chancho和Megu的星座运势来看看你的运势吧，据说这两个星座的运势非常准!',
          guest: [11],
        },
        {
          time: '08:00-10:00',
          title: 'あさごはん',
          thumbnail: '19',
          desc_ja: '一部から根強い人気を誇る、「朝ごはんを食べる」企画。甲賀流CGによる超リアルな朝ごはんは飯テロ必至。<br>一緒に朝ごはんを食べて英気を養おう！',
          desc_us: "The Eat Breakfast project, which has become popular in some quarters. This ultra-realistic breakfast made with Koga-style CG will surely make you hungry. Let's eat breakfast together and be energized!",
          desc_cn: '吃早餐这个项目，在一些地方已经很受欢迎了。这款用甲贺风格的CG制作的超逼真的早餐，一定会让你饥肠辘辘。让我们一起吃早餐吧，让我们在吃早餐的同时，也能让人精神焕发!',
          guest: [],
        },
        {
          time: '10:00-11:00',
          title: '3D凸(とつ)コラボ',
          thumbnail: '5',
          desc_ja: 'Virtual Castを使った凸3Dバージョン！　ゲストは見てからのお楽しみ！',
          desc_us: "A 3D version of the interview using Virtual Cast! The guests are a secret until they make an appearance!",
          desc_cn: '使用虚拟铸造的3D版本的访谈节目! 客人出场前都是秘密!',
          guest: [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
        },  
        {
          time: '12:00-13:00',
          title: 'あつまれ！とばくの森',
          thumbnail: '16',
          desc_ja: '平和な森の片隅で、賭博に興じる人の影あり……<br>様々な遊戯をこなしてきた歴戦のギャンブラー達が、己の知力、財力、運を駆使し、勝利を目指す……！',
          desc_us: "In a peaceful corner of the forest, there are gamblers. Legendary gamblers will use their wits, fortune and luck to win!",
          desc_cn: '在森林的一个宁静的角落里，有赌徒。传说中的赌徒们将用自己的智慧、财富和运气来赢取胜利!',
          guest: [31, 30, 32],
        },
        {
          time: '13:00-14:00',
          title: '異業種交流会',
          thumbnail: '15',
          desc_ja: '違う分野で活躍する4人が、それぞれの境遇から見た別分野の世界を語る。<br>この企画でしか見ることのできない珍しい交流は、一見の価値あり。<br>',
          desc_us: "Four people who are active in different fields talk about their feelings. It's worth a look to see the unusual interaction that can only be seen in this project.",
          desc_cn: '四个活跃在不同领域的人谈起了自己的感受。值得一看的是，只有在这个项目中才能看到不寻常的互动。',
          guest: [35, 36, 29],
        },
        {
          time: '14:00-15:00',
          title: '崩壊する仮想世界からの脱出',
          thumbnail: '8',
          desc_ja: '崩壊する仮想世界から脱出する、視聴者参加型企画。おめシス・ぽこピーが脱出できるかどうかは、あなたのひらめき次第。<br>誰よりも早くヒントを伝えよう！<br>・紙と筆記用具を用意しておこう！<br>・スマホやタブレットからも十分に謎解きに参加できますが、PC視聴の方がより参加しやすい謎があります。<br>脱出ゲーム製作者：<a href="https://twitter.com/asuwara0624">あすわらさん</a>',
          desc_us: "An audience-participation project to escape from the collapsing virtual world. It's up to you to decide whether Omesis and PokoPea can escape or not.You'll be the one to pass along the clues!<br>Have paper and writing utensils at the ready!<br>You can also participate in the riddles from your smartphone or tablet, but some riddles are easier to solve if you watch on a PC.",
          desc_cn: '一个由观众参与的项目，从崩溃的虚拟世界中逃离。你来决定Omesis和PokoPea是否能逃出去。<br>请准备好纸和书写工具!<br>你也可以用你的智能手机或平板电脑参与猜谜语，但有些谜语如果你在电脑上观看，会更容易解开。',
          guest: [37, 38],
        },
        {
          time: '15:00-16:00',
          title: 'ぽんぽこの知らない世界',
          thumbnail: '18',
          desc_ja: '一癖も二癖もあるゲストが、独自の世界観を展開しながらぽこピーとトークを繰り広げる。<br>あのぽんぽこも知らない世界へようこそ……　',
          desc_us: "The quirky guests talk with PokoPea while developing their own world view. Welcome to a world that even 'Ponpoko' doesn't know about!",
          desc_cn: '古灵精怪的嘉宾们一边和PokoPea聊天，一边开拓自己的世界观。欢迎来到连 Ponpoko都不知道的世界!　',
          guest: [27, 1],
        },
        {
          time: '16:00-17:00',
          title: 'バーチャル・バチェラー',
          thumbnail: '9',
          desc_ja: '眉目秀麗なピーナッツくん(バチェラー)の元に集ったVtuberが、ピーナッツくんの心を射止めるために熾烈なバトルを展開。<br>バチェラーの心を勝ち取るのは誰だ！<br>',
          desc_us: "The Vtuber's gathered under Peanuts-kun (Bachelor), and a fierce battle unfolds in order to win Peanuts-kun's heart. Who will win the heart of the Batchelor!",
          desc_cn: '为了赢得花生君的心，Vtuber们聚集在花生君的麾下，为了赢得花生君的心，展开了一场激烈的战斗。谁将赢得Batchelor的心!',
          guest: [39, 40, 41, 42, 43, 44, 45],
        },
        {
          time: '17:00-18:00',
          title: 'バーチャル親子、襲来',
          thumbnail: '10',
          desc_ja: '「友達関係は？」「成績は？」「素行は問題ない？」<br>気になる娘の通知表を大公開！　"母" が "娘" を知るまたとないこの機会に、果たして母は何を思うのか……！<br><a class="entry" href="https://docs.google.com/forms/d/e/1FAIpQLSfXvqro-vokteatUORhQTQ8t6GchZCCHhyN0yn8VAMj_5ujlw/viewform"> アンケートの応募はコチラから！</a>',
          desc_us: "'Are your friendships good? Not a bad grade? Is your behavior okay?' The big reveal of daughter's notification list!　What does a mother think of this unique opportunity to get to know her daughter?",
          desc_cn: '你的朋友关系好吗？不是成绩不好吗？你的行为规范吗？女儿的通知单大揭秘!　对于这个难得的了解女儿的机会，妈妈怎么看？',
          guest: [15, 22, 12, 13, 2, 20],
        },
        {
          time: '18:00-19:00',
          title: '文野環裁判',
          thumbnail: '11',
          desc_ja: '超自由奔放な配信で人気街道を爆進中の文野環が裁判にかけられた！<br>数々の伝説を残してきた彼女だが、罪状は一体……？<br><a class="entry" href="https://docs.google.com/forms/d/e/1FAIpQLSeTgb3fiYTC5fAAagNOTA6hzqJeH2zZiL1iikXwg40F11XAgg/viewform"> アンケートの応募はコチラから！</a>',
          desc_us: "Tamaki Fumino, who is very popular for her free-spirited live broadcast, has been put on trial! What the hell is she guilty of?",
          desc_cn: '因自由自在的直播而深受大家喜爱的文野環，近日，玉木芙蓉受审了! 她到底犯了什么罪？',
          guest: [24, 51],
        },
        {
          time: '19:00-20:00',
          title: 'この企画は言えません。',
          thumbnail: '12',
          desc_ja: 'この企画は言えません。<br>この企画は言えません。<br>この企画は言えません。',
          desc_us: "We can't tell you what we're planning.<br>We can't tell you what we're planning.<br>We can't tell you what we're planning.",
          desc_cn: '我们不能告诉你我们的计划是什么。<br>我们不能告诉你我们的计划是什么。<br>我们不能告诉你我们的计划是什么。',
          guest: [9, 23]
        },
        {
          time: '20:00-20:00',
          title: '24時間 バーチャルキャノンボール 550km',
          thumbnail: '51',
          desc_ja: 'ひたすら走る、走る、走る。実走でも未踏の550km(東京→大阪間)を、24時間かけて走り続ける。果たして完走することはできるのか……！',
          desc_us: "Just run, run, run. It takes 24 hours to drive 550km (between Tokyo and Osaka), which has never been explored even in the actual race. Will she be able to finish the race?",
          desc_cn: '就这样跑着跑着，跑着跑着。从东京到大阪的550公里（从东京到大阪），需要24小时的车程，即使在实际比赛中也没有探索过。她能跑完比赛吗？',
          guest: [],
        },
        {
          time: '20:00-20:00',
          title: '出演者が言いそうなこと大ビンゴ',
          thumbnail: '52',
          desc_ja: 'ぽんぽこ24に登場するゲストが言いそうな言葉でビンゴ大会！<br>いつもの決まり文句からあの名言まで、一体何が飛び出すのか……！',
          desc_us: "A bingo tournament with words that the guests on PONPOKO 24 are likely to say! What kind of remarks will the guests make?",
          desc_cn: '宾果游戏PONPOKO 24的嘉宾们可能会说的话! 嘉宾们会发表什么样的言论呢?',
          guest: [],
        },
        {
          time: '20:00-20:00',
          title: '【裏実況】ぽんぽこ24を一緒に見よう♡【もちひよこ】',
          thumbnail: '53',
          desc_ja: 'ぽんぽこの大親友、もちひよこと一緒にぽんぽこ24を見よう！　なんとこちらにもゲストが登場するかも……！',
          desc_us: "Watch PONPOKO 24 with Ponpoko's best friend, Mochihiyoko!　There might be a guest on this one too...!",
          desc_cn: 'Ponpoko的好朋友Mochihiyoko一起看PONPOKO 24!　这次可能也会有客串.....!',
          guest: [],
        },
      ]
    div.container-fluid
      div.row
        // --------Left--------
        div.col-2.left-side.d-none.d-lg-block
          div.container-fluid.sticky-top: a(href="#")
            div.row
              div.col
                div.left-text PONPOKO24 vol.4
          
        // --------Main content--------
        div.col-12.col-lg-8.shadow-material#main
          div.container-fluid.mt-2

            // --------navbar--------
            include _navbar

            // --------Main Slider--------
            include _slider            

            // --------Time table--------
            include _timetable
        
        // --------Right--------
        div.col-2.right-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.right-text PARTY!!

  // --------Load js--------
  script(type="text/javascript" src="/js/jquery.touchSwipe.min.js")
  script(type="text/javascript" src="/js/fade.js")
  script(type="text/javascript" src="/js/background.js")
  script(type="text/javascript" src="/js/riddle.js")
  .
    <script>
      $("img.lazyload").lazyload();
    </script>
  .
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146142130-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-146142130-3');
    </script>
