div.modal.fade#riddle(tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true")
  div.modal-dialog.modal-dialog-centered(role="document")
    div.modal-content(style="font-size:1.1em")
      div.modal-body
        button.close(type="button" data-dismiss="modal" aria-label="閉じる")
          span(aria-hidden="true") ✕
        img.img-fluid(src="img/riddle.png")
